.styledAppNavItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  min-height: 10rem;
  max-height: 10rem;
  min-width: 10rem;
  max-width: 10rem;
  background-color: var(--color-bg-nav-item);
  margin: var(--spacing-small);
  border-radius: 1rem;
  box-shadow: 0px 2px 16px 0px rgba(219, 219, 219, 0.5);
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 16px 0px rgba(219, 219, 219, 1);
  }
  span {
    font-size: 1.6rem;
    color: var(--color-nav-item-text);
    margin-top: var(--spacing-tiny);
  }

  &.active {
    background-color: var(--color-primary);
    box-shadow: 0px 10px 16px 0px rgba(255, 90, 95, 0.5);
    span {
      color: var(--color-white);
    }
  }
}
