.heading1 {
  font: var(--font-heading1);
  color: var(--color-text-heading);
}
.heading2 {
  font: var(--font-heading2);
  color: var(--color-text-heading);
}
.heading3 {
  font: var(--font-heading3);
  color: var(--color-text-heading);
}
.large {
  font: var(--font-large);
  color: var(--color-text-body);
}
.regular {
  font: var(--font-regular);
  color: var(--color-text-body);
}
.small {
  font: var(--font-small);
  color: var(--color-text-body);
}

.tiny {
  font: var(--font-tiny);
  color: var(--color-text-body);
}
